.row.none
  .col-sm-12
    .panel.panel-form
      .panel-heading
        %h2.text-center Protect your Account with Two-Factor Authentication
      .panel-body
        .row
          .col-xs-offset-3.col-xs-6
            %ul.list-group
              %li.list-group-item
                .pull-right
                  - if current_account.authy_enabled
                    .text-success ON
                  - else
                    .text-danger OFF
                Two factor authentication

            - if current_account.authy_enabled
              = link_to "Disable", account_disable_authy_path, method: :post, class: "btn btn-default btn-block"
            - else
              = link_to "Enable", account_enable_authy_path, class: "btn btn-default btn-block"

          .col-xs-12
            .text-2fa-box{style: "padding-top: 30px;"}
              %p
                Two-Factor Authentication is a very secure way to protect your online AtenWallet account. It works by requiring you to identify yourself using two different things when you log-in to AtenWallet.com. The second factor is tied to something 'you have' (like a smart phone). So you can think of two-factor as something you know (your password) plus something you have (your smart phone).
              %p
                %strong
                  Important:
              %p
                We use the Authy two-factor authentication provided by Twilio Inc. By using of this function, you are agreeing to Terms of Service and Privacy Police associated with the use of Authy. View the
                = link_to "Terms of Service", "https://www.authy.com/terms" , target: "_blank", class: "agreements-link"
                and
                = link_to "Privacy Policy.", "https://www.authy.com/privacy", target: "_blank", class: "agreements-link"
