.conatiner{style: "font-weight: bold;"}
  .row-fluid
    .col-xs-12{style: "text-align: center;"}

    .col-xs-12
      %p Dear member,
      %p You have requested changing of password for your Verification System account.
      %p Please follow this link to proceed.

      %p Sincerely,
      %p Verification System Team
      %br
      %p
        %h4{style: "text-transform: uppercase;"}
          = link_to "click here to confirm new login password", acc_password_confirmation_url(confirmation_token: @token), style: "color:  #3366FF; font-weight: 600;"
