.conatiner{style: "font-weight: bold;"}
  .row-fluid
    .col-xs-12{style: "text-align: center;"}
      
    .col-xs-12
      %p Dear member,
      %p Verification of your account was approved. Thank you!

      %p Sincerely,
      %p Verification System Team
