.conatiner{style: "font-weight: bold;"}
  .row-fluid
    .col-xs-12{style: "text-align: center;"}
      
    .col-xs-12
      %p Dear member,
      %p Verification of your account was declined. Please try again or contact our support.
      - if !@reason.empty?
        %p Reason: #{@reason}

      %p Sincerely,
      %p Verification System Team
