<div class="terms_use_bg">
<h4>TERMS OF USE</h4>
<p align="JUSTIFY">In using this website and/or registering for an Verification System Wallet or a wallet related to the purchase or storage of Verification Systems and/or AML Tokens, You make the representations below and acknowledge that You have carefully read, that You understand, that You agree to the terms and conditions set forth below, and that they and Your representations below are a part of the contract and agreement between You and NAC Foundation, LLC (hereinafter “NAC”). You agree that these Terms and Conditions and the truth of Your representations, are a condition to Your use of NAC Websites (including this one), all Your purchases, uses, sales, transfers, exchanges, transactions, and mining relating to the Verification System, the AML Token, and Your use of an Verification System Wallet:</p>
<ol type="A">
<li class="list-type">  Definitions. The following terms (listed alphabetically) are defined as follows: </li>
<ol>
<li>
<p align="JUSTIFY">“Verification System” refers to the Verification System digital currency.</p>
</li>
<li>
<p align="JUSTIFY">“Verification System.COM” refers to the Website with the URL address of <a href="http://amlbitcoin.com" target="_blank"> https://amlbitcoin.com</a>, which is owned by NAC.</p>
</li>
<li>
<p align="JUSTIFY">“Verification System Wallet” refers to the digital wallet used for sending, receiving and mining Verification Systems.</p>
</li>
<li>
<p align="JUSTIFY">“AMLBITCOINWALLET.COM” refers to the Website with the URL address of <a href="http://amlbitcoinwallet.com" target="_blank"> http://amlbitcoinwallet.com </a> , which is owned by NAC.</p>
</li>
<li>
<p align="JUSTIFY">“AML Compliant” refers to features or attributes of the Verification System by which the Verification System code and or combined with NAC’s operating protocols and activities such as monitoring and reporting of activities concerning the purchase, use, sale, exchange and maintenance of the Verification System, endeavor to be compliant with the AML Laws.</p>
</li>
<li>
<p align="JUSTIFY">“AML Laws” means and refers to the laws, statutes, rules, regulations, and procedures of the United States, various States within the United States, and of jurisdictions of other nations in which Verification System and/or AML Token is purchased, sold, exchanged, or used that govern, regulate, and relate to preventing money-laundering, terrorism, identity theft, financial crimes, and pertain to know-your-customer laws, and specifically (a) the Uniting and Strengthening America by Providing Appropriate Tools Required to Intercept and Obstruct Terrorism Act of 2001, aka the USA PATRIOT Act; (b) International Money Laundering Abatement and Financial Anti-Terrorism Act of 2001, aka Title III, of the USA PATRIOT Act, and subtitles that deal with International Counter Money Laundering and Related Measures, Bank Secrecy Act Amendments and Related Improvements, and, Currency Crimes and Protection; (c) the Money Laundering Control Act of 1986; (d) provisions of the Fair and Accurate Credit Transactions Act of 2003, also known as FACT Act or FACTA, that pertain to the prevention of identity theft; (e) requirements related to economic and trade sanctions administered and enforced by the Office of Foreign Assets and Controls (OFAC) within the United States Department of Treasury; (f) the Bank Secrecy Act, aka BSA or the Currency and Foreign Transactions Reporting Act, which requires the reporting of certain transactions to the government; (g) laws pertaining to know-your-customer requirements; and (h) similar laws in other countries.</p>
</li>
<li>
<p align="JUSTIFY">“AML Token” refers to a digital token which may be exchanged for an Verification System.</p>
</li>
<li>
<p align="JUSTIFY">“AMLTOKEN.COM” refers to the Website with the URL address of https://www.amltoken.com, which is owned by NAC.</p>
</li>
<li>
<p align="JUSTIFY">“NAC” refers to NAC Foundation, LLC, a limited liability company organized and existing under the laws of the State of Nevada, United States of America.</p>
</li>
<li>
<p align="JUSTIFY">“NAC Websites” refers to AMLBITCOIN.COM, AMLBITCOINWALLET.COM, AMLTOKEN.COM, and all other websites that may be owned by NAC from time to time. In the event a predecessor coin created by NAC (the Aten Black Gold” coin) is converted to an Verification System, then NAC Websites also refers to ATENCOIN.COM, being the Website with a former URL address of https://WWW.ATENCOIN.COM and ATENWALLET.COM, being the Website with a former URL address of https://ATENWALLET.COM.</p>
</li>
<li>
<p align="JUSTIFY">“Parties” refers to You and NAC collectively.</p>
</li>
<li>
<p align="JUSTIFY">“Party” refers to NAC or You, as the case may be.</p>
</li>
<li>
<p align="JUSTIFY">“You” and “Your” each refers to you, the person accessing this website and accepting these terms and conditions.</p>
</li>
</ol>
</li>
<li class="list-type">
<p align="JUSTIFY" class="list-type" >  You acknowledge, understand, represent, warrant and agree as follows: </li> </p>
<ol>
<li>
<p align="JUSTIFY">These Terms and Conditions shall be retroactive to the date of Your original purchase and/or acquisition of Verification System Tokens and/or Verification Systems and Your execution of a Purchase and Sale Agreement in connection with Your purchase of AML Tokens and/or Verification Systems.</p>
</li>
</ol>
<ol start="2">
<li>
<p align="JUSTIFY">You are at least 18 years of age and are of competent mind.</p>
</li>
</ol>
<ol start="3">
<li>
<p align="JUSTIFY">Information You provided to NAC about Yourself, including, without limitation, passport, driver’s license, address, social security number, and bank account information in connection with verification procedures, Your use of NAC Websites and/or the Verification System Wallet, is accurate Should any such information be inaccurate or change, You will promptly deliver correct information to NAC.</p>
</li>
</ol>
<ol start="4">
<li>
<p align="JUSTIFY">NAC is a limited liability company duly organized and existing under the laws of the State of Nevada, United States of America. NAC’s principal place of business is in Las Vegas, Nevada.</p>
</li>
</ol>
<ol start="5">
<li>
<p align="JUSTIFY">Black Gold International Inc. (BGCI”) promotes Verification Systems; BGCI and NAC are two separate and distinct entities; and BGCI’s role is to act solely as a third party to assist in the promotion of the Verification System as a cybercurrency.</p>
</li>
</ol>
<ol start="6">
<li>
<p align="JUSTIFY">You have no right to and will not share or participate in any way with BGCI’s revenue, profit, or losses earned in connection with its activities concerning the Verification System and/or AML Token.</p>
</li>
</ol>
<ol start="7">
<li>
<p align="JUSTIFY">Verification System and/or AML Token does not have any underlying collateral; the Verification System and/or AML Token is merely an unsecured cyber currency or digital coin or in the case of the AML Token, a digital token for the exchange to an Verification System.</p>
</li>
</ol>
<ol start="8">
<li>
<p align="JUSTIFY">Verification System and/or AML Token will not be redeemed by NAC and You are not relying upon NAC to be a source of liquidity for You or Your purchase of Verification System and/or AML Token.</p>
</li>
</ol>
<ol start="9">
<li>
<p align="JUSTIFY">Neither Verification Systems and/or AML Tokens nor any agreement related to Your purchase of Verification Systems and/or AML Tokens creates or constitutes a debt of NAC to You, and NAC is not obligated to pay You any returns or repayment regarding your purchase of Verification System and/or AML Token.</p>
</li>
</ol>
<ol start="10">
<li>
<p align="JUSTIFY">Verification System is a medium of exchange and not a pooled interest in any business entity or common enterprise or a business venture involving Your and NAC or its affiliates.</p>
</li>
</ol>
<ol start="11">
<li>
<p align="JUSTIFY">You have not and purchased and have no intention of purchasing Verification Systems and/or AML Tokens for investment purposes and You expect no return on investment.</p>
</li>
</ol>
<ol start="12">
<li>
<p align="JUSTIFY">Verification Systems and/or AML Tokens are not securities and are not subject to the securities laws of any governmental entity.</p>
</li>
</ol>
<ol start="13">
<li>
<p align="JUSTIFY">Verification Systems and/or AML Tokens are intended to be and are solely an Internet-based exchange medium.</p>
</li>
</ol>
<ol start="14">
<li>
<p align="JUSTIFY">By purchasing, selling, exchanging, transferring, or mining Verification Systems and/or AML Tokens, and by using the Verification System Wallet and/or an NAC Website, or obtaining and using technical information and technical support provided by NAC, You are not participating in and not becoming a member or investor in any pooled interest, business entity, common enterprise, or business venture with NAC or any of its or their affiliates.</p>
</li>
</ol>
<ol start="15">
<li>
<p align="JUSTIFY">NAC and its affiliates can, without notice, purchase Verification Systems and/or AML Tokens on the secondary market after the initial issuance, and may resell the Verification Systems and/or AML Tokens that they purchased.</p>
</li>
</ol>
<ol start="16">
<li>
<p align="JUSTIFY">You shall take full responsibility for Your Verification System Wallet.</p>
</li>
</ol>
<ol start="17">
<li>
<p align="JUSTIFY">NAC will use its best efforts to create a digital currency (or cryptocurrency or cybercurrency) that is compliant with AML Laws.</p>
</li>
</ol>
<ol start="18">
<li>
<p align="JUSTIFY">Your purchase of Verification Systems and/or AML Tokens is solely for the purpose of using Verification Systems and/or AML Tokens for Your lawful commercial or personal activities, but not as an investment.</p>
</li>
</ol>
<ol start="19">
<li>
<p align="JUSTIFY">You have never, to Your knowledge, been involved in any terrorist or terrorist financing activity; and You shall never intentionally, engage in activities that constitute terrorism or financing of terrorists.</p>
</li>
</ol>
<ol start="20">
<li>
<p align="JUSTIFY">You shall abide by and conform Your conduct to relevant laws in Your jurisdiction regarding the ownership, purchase, use, sale, exchange, transfer or mining of Verification Systems and/or AML Tokens, including, but not limited to, reports to tax authorities.</p>
</li>
</ol>
<ol start="21">
<li>
<p align="JUSTIFY">You are not purchasing or using and shall not purchase or use Verification Systems and/or AML Tokens and any NAC Website for the purpose of facilitating any illegal or unlawful activities, or in any way in connection with any illegal or unlawful activity.</p>
</li>
</ol>
<ol start="22">
<li>
<p align="JUSTIFY">In connection with Your purchase and/or use of the Verification Systems and/or AML Tokens and any NAC Website, You intend to and will make all reasonable efforts to comply with all laws and regulations of the United States governing currency transmission activity, all State laws governing such, and all laws governing such in Your jurisdiction.</p>
</li>
</ol>
<ol start="23">
<li>
<p align="JUSTIFY">The supply of Verification System and NAC services through the NAC Website are subject to United States and international export controls and economic sanctions requirements.</p>
</li>
</ol>
<ol start="24">
<li>
<p align="JUSTIFY">NAC will use its best efforts to monitor all the transactions (purchases, exchanges, sales) of Verification Systems and/or AML Tokens in an effort to detect suspicious activities that may violate AML Laws.</p>
</li>
</ol>
<ol start="25">
<li>
<p align="JUSTIFY">NAC intends to track Verification System to identifiable persons and business entities and will file suspicious activity or similar reports with relevant governmental agencies in nations where it does business. In filing such reports NAC shall exercise reasonable care and act in good faith based on the information it has and that is provided to it. You agree that notwithstanding NAC’s exercise of reasonable care and good faith, or otherwise act in conformity with the standards of applicable law, such reports may be erroneous or contain incomplete or inaccurate information. You acknowledge that generally such reports to governmental agencies that are required to be made are privileged communications, as a result of which, NAC would not be subject to a claim for damages in the event that NAC makes an incorrect or incomplete report having exercised reasonable care and good faith.</p>
</li>
</ol>
<ol start="26">
<li>
<p align="JUSTIFY">Your Verification System and/or AML Token transactions and their associated IP locations of senders and receivers will be recorded and securely stored in a physical server located in United States of America. Your personal information submitted to an NAC Website shall be securely stored and backed-up in a physical server located in United States of America. Your Verification System and/or AML Token transactions and their associated IP locations of senders and receivers will be monitored and analyzed in United States of America with monitoring and detecting software that allows NAC to identify any suspicious activities. Any suspicious activities associated with Your Verification System transactions together with personal information and IP locations of corresponding senders and receivers may, in NAC’s sole judgment, be reported to relevant government entities in Your region and/or the Financial Crimes Enforcement Network (FinCEN at http://www.fincen.gov/) in United States of America. NAC’s tracking and reporting to appropriate governmental authorities of suspicious activities, includes Your activity in the United States with respect to the Verification System and/or AML Token and use of NAC’s Websites.</p>
</li>
</ol>
<ol start="27">
<li>
<p align="JUSTIFY">In the event NAC receives or possesses information that would lead to a reasonable and good faith suspicion, or a basis otherwise in conformity with applicable law, that a transaction in the Verification System is violating or is about to violate money laundering, anti-terrorist financing, or anti-fraud laws of the United States or of any nation or that the use of Verification Systems and/or AML Tokens is or is about to be used to facilitate a violation of such laws or a financial crime, or is in violation of a validly issued court order or other valid governmental order, NAC may refuse to process, or may rescind, cancel or reverse, any purchase or sale of Verification Systems and/or AML Tokens. In the event Your wallet is frozen and You have credible evidence, or evidence otherwise satisfying the standard of applicable law, establishing that You did not knowingly engage in terrorist or criminal activity or the financing of such, and in the event NAC is not ordered otherwise by a court, governmental or law enforcement agency or department, NAC will take all reasonable actions to unfreeze and reinstate Your Verification System Wallet. (In this regard, You must contact legal@atencoin.com).</p>
</li>
</ol>
<ol start="28">
<li>
<p align="JUSTIFY">By purchasing and using the Verification System and/or AML Token, the Verification System Wallet, and/or NAC’s Websites, You are relinquishing rights of privacy relating to NAC’s monitoring and reporting of transactions pertaining to You as provided in these Terms and Conditions. You shall have no right to a claim or cause of action or claim of damages against NAC relating to an invasion of privacy by NAC as a result of NAC’s monitoring and reporting of transactions as provided in these Terms and Conditions.</p>
</li>
</ol>
<ol start="29">
<li>
<p align="JUSTIFY">You shall take all reasonable measures to not permit or allow access to any person or entity other than You to use Your Verification System Wallet and/or any NAC Website.</p>
</li>
</ol>
<ol start="30">
<li>
<p align="JUSTIFY">NAC will operate and maintain its computer systems and the NAC Websites in such a manner as a reasonably prudent person in the business of conducting transactions based on a sophisticated computer networking system, and NAC shall exercise due care and good faith, including employing technicians and personnel highly skilled in the operation of such highly sophisticated computer and software based technologies. NAC shall endeavor to employ and utilize the most sophisticated and safest methods of internet and computer security available sufficient to assure that at all times its computer network and NAC Websites provide a safe and secure environment for the conduct of the business anticipated by this these Terms and Conditions.</p>
</li>
</ol>
<ol start="31">
<li>
<p align="JUSTIFY">In the event of an attack on and NAC Website or computer system, a virus or malicious code in NAC’s computer system, notwithstanding NAC’s compliance with paragraph 30 above, or in the event NAC is required to suspend, modify, discontinue all or a portion of its services, or terminate its services by a court order or governmental order or direction, as a result of circumstances beyond NAC’s control, NAC shall not be liable to You for any damage as a result of such suspension, modification, discontinuance, or termination.</p>
</li>
</ol>
<ol start="32">
<li>
<p align="JUSTIFY">It is possible that Your Verification System Wallet may be subject to attempted impersonation and or cyber-attack which could result in the material diminution, theft or transfer of Your Verification System Wallet. So long as NAC has complied with paragraph 30 above, and the circumstances leading to such impersonation or cyber-attack are beyond NAC’s control, NAC shall not be liable for any damage caused to You as a result of the use of NAC’s computer system or an NAC Website, including direct, indirect, or consequential damages, whether such damage is caused by a hack, data breach, malicious code, computer virus or criminal conduct.</p>
</li>
</ol>
<ol start="33">
<li>
<p align="JUSTIFY">In making Your purchase of Verification Systems and/or AML Tokens You are and have relied solely upon Your own judgment, belief and knowledge as to the nature of the currency and the Cybercoin, cryptocurrency, or digital market and industry and You are not relying on any statements made by NAC, or any of its agents or representatives or on any of its advertising or marketing materials, or any representation or statement made on any NAC Website; and You shall not assert any claim(s) against NAC or any of its agents or representatives based on information on any NAC Website or any modification or change to any NAC Website.</p>
</li>
</ol>
<ol start="34">
<li>
<p align="JUSTIFY">To the fullest extent provided by applicable law, You shall indemnify, defend, and hold harmless NAC, its subsidiaries, affiliates, directors, officers, employees, attorneys, consultants, and agents from and against any and all claims, demands, causes of action, debts or liabilities, including reasonable attorneys’ fees (collectively, “Damages”) to the extent that any such Damages are based upon or arise out of (a) a misrepresentation by You made in connection with Your purchase of Verification Systems and/or AML Tokens or use of any NAC Website, or (b) Your violation of any law, statute, rule, or regulation of a nation or subdivision thereof having jurisdiction over You.</p>
</li>
</ol>
<ol start="35">
<li>
<p align="JUSTIFY">The permission or privilege to use the AMLBITCOIN.COM Website does not necessarily include a right to use any other NAC Website nor the right to an Verification System Wallet. In order to use the AMLBITCOIN.COM Website or to acquire an Verification System Wallet, You must be registered, having gone through and submitted to the required verification procedures.</p>
</li>
</ol>
<ol start="36">
<li>
<p align="JUSTIFY">None of the Terms and Conditions herein shall be deemed waived unless a waiver is in writing and signed by NAC, and in no event, shall there be a waiver solely by reason of a failure to assert or delay in asserting a term or condition.</p>
</li>
</ol>
<ol start="37">
<li>
<p align="JUSTIFY">In the event any one or more of these Terms and Conditions, or part thereof, is declared to be void or otherwise unenforceable, the remainder of such term and condition and of these Terms and Conditions shall survive and be deemed modified or amended so as to fulfill the intent of these Terms and Conditions and comply with any applicable law or order of a court.</p>
</li>
</ol>
</li>
</ol>
<p align="JUSTIFY"><b>Changes to these Terms and Conditions</b></p>
<p align="JUSTIFY">NAC reserves the right, at its sole discretion, to modify, change, alter or amend any of these Terms and Conditions from time to time and at any time. Notification of such changes, alterations, modifications or amendments, shall be made via the NAC Website(s) or via email to You (at the email address You provided previously). You shall be responsible for reviewing and shall be bound by such changes, alterations, modifications or amendments to these Terms and Conditions. Your continued use of the NAC Website after the posting or notice by email of such changes, alterations, modifications or amendments shall be deemed Your acceptance and agreement to such changes, alterations, modifications or amendments.</p>
<p align="JUSTIFY"><b>Applicable Law, Jurisdiction and Venue.</b></p>
<p align="JUSTIFY">These Terms and Conditions, including the representations, warranties, covenants, limitations on liability, and indemnities, contained therein as well as any other written or oral agreements between You and NAC, and any and all claims between the Parties, including their agents, representatives, employees, affiliated entities, trustees, conservators, successors and assigns, related to or arising from these Terms and Conditions, said agreements, whether in contract or tort, and seeking damages or equitable remedies, shall be governed, construed and enforced in accordance with the laws of the State of Nevada, USA and applicable federal law of the United States, without giving effect to Nevada’s or the United States’ conflicts of laws principles.</p>
<p align="JUSTIFY">The Parties agree that the federal and state courts located in the State of Nevada, United States of America shall have exclusive jurisdiction to determine and adjudicate any such matters or disputes, and You agree that such courts shall have jurisdiction over You as well as Your agents, representatives, employees, affiliated entities, trustees, conservators, successors and assigns, and You, and on behalf of each of Your agents, representatives, employees, affiliated entities, trustees, conservators, successors and assigns, waive any objection that such courts do not have personal jurisdiction over You and them.</p>
<p align="JUSTIFY">The Parties agree that venue for the determination or adjudication of any and all matters in controversy or disputes between the Parties, and each of their agents, representatives, employees, affiliated entities, trustees, conservators, successors and assigns, shall be solely and exclusively in Clark County, Nevada, United States of America, and the Parties agree that such venue is intended to be mandatory and not permissive. The Parties, on behalf of themselves and each of their agents, representatives, employees, affiliated entities, trustees, conservators, successors and assigns, waives any objection that venue in Clark County, Nevada, United States is an inconvenient forum.</p>
<p align="JUSTIFY"><b>Important Warning Concerning Activity in Prohibited Locations</b>:</p>
<p align="JUSTIFY">Persons located in certain territories, currently including countries subject to sanctions imposed by laws or regulations of the United States or any governmental agency, department or office of the United States, or executive orders of the President of the United States, or treaties to which the United States is a party, or otherwise imposed by other organizations, such as the United Nations and recognized and enforced by the United States, such as, without limitation, the Democratic People’s Republic of North Korea and its territories, are not permitted to use the NAC Website. This restriction applies to residents and citizens of other nations while located in a prohibited jurisdiction. The fact that the NAC Website may be accessible in a prohibited jurisdiction, or that the NAC Website allows the use of the official language of a prohibited jurisdiction, shall not be construed as a license to use the NAC Website in such prohibited jurisdiction.</p>
<p align="JUSTIFY">Any attempt to circumvent this restriction, for example, by using a “vpn”, proxy or similar service that masks or manipulates the identification of Your true location, or by otherwise providing false or misleading information regarding citizenship, location, place of residence, or by using the NAC Website through a third party or on behalf of a third party located in a prohibited jurisdiction is a breach of these Terms and Conditions.</p>
<p align="JUSTIFY">If NAC has reasonable grounds to suspect that You are located in any of the prohibited jurisdictions, NAC may, without notice, and in accordance with applicable laws, close Your account and refuse to process, and may rescind, cancel or reverse, any purchase or sale of Verification Systems and/or AML Tokens.</p>
</div>
