@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fontawesome-webfont.eot?v=4.2.0');
  src: url('/assets/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('/assets/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('/assets/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('/assets/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family:"Trajan pro";
src: url(/assets/TRAJANPRO-REGULAR.OTF) format('opentype');


}

@font-face {
font-family:"Open Sans Light";
src: url(/assets/OpenSans-Light.ttf) format('truetype');


}


* { margin:0px;
padding:0px}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.bg {
	background: url(/assets/body_bg.jpg) no-repeat top center fixed ;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
			min-height:100%;
}

.login_bg{	background: url(/assets/login_bg.jpg) no-repeat top center fixed ;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
			min-height:100%;
}


[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;

}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

body{overflow-x:hidden;}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

.title{ color:#EFB03C; font-family:"Trajan pro"; font-weight:bold; font-size:44px;}
.subtitle{ font-family:"Trajan pro"; font-size:18px; color:#000000; font-weight:bold; line-height:0;}

#footer{background:#013660; color:#fff; padding:1% 0%;}

.form_group{background:url(/assets/from_bg.jpg) center center no-repeat; padding:3% 3% 14% 3%; background-size:95%; font-family:"Trajan pro"; font-size:12px; font-weight:bold; }
h3{font-family:"Open Sans Light"; color:#FFFFFF; font-size:20px; padding-bottom:5%;}
.lg_btn{background:url(/assets/btn_bg.png) no-repeat; padding:10px; display:block; color:#000000;}
.btn_block{ width:60%; margin:0px auto; text-transform:uppercase;}
.btn_block a:hover{ text-decoration:none;}
.btn_block span{color:#FFFFFF; padding:5% 0%; display:block; font-size:10px;}
.fa:hover{color:#EBCB31; text-decoration:none;}
.fa{color:#FFFFFF; margin:0px 5px;}
footer{color:#FFFFFF; border-top:1px solid #00446E;}
.form_inner{background:#F0F2F8; border-radius:3px; padding:2% 16%;}
.bg_color{background:#E2E5EA;}
form{padding:2% 8%;}
form input{width:100%;}
.form_inner h4{color:#003366; border-bottom:1px solid #A1B5C9; font-size:18px; font-family:"Open Sans Light"; padding-bottom:15px;}
label{font-size:10px; font-family:"Open Sans Light"; color:#9FA4AA; font-weight:normal; }


.submit{background:#013660; border:none; padding:5px 5px; color:#FFFFFF; border-radius:15px; text-transform:uppercase; }
hr{ border-bottom:1px solid #A1B5C9;}
.small-font{color:#999999; font-size:10px; display:block;}
.member{display:block; color:#013660; text-decoration:underline; font-weight:bold; line-height:40px;}
.space{padding:1% 0%;}
.email,.pass{position:relative;}

.fa-envelope, .fa-key{color:#A5B0BA; position:absolute; top:30px; left:10px; font-size:9px;}
.forgetp{color:#3A5480; font-size:10px;}
.sidebar{background:#0A2035; min-height:800px; max-width:250px;}
.topbar{background:#013660;}
.trible-space{margin-bottom:60px;}
.double-space{margin-bottom:50px;}
.single-space{margin-bottom:20px}
.divider{border:1px solid #0D2A45; margin:30px 0px;}
body .block{display:block;}
.sidebar .round-shape{background:#EDC259; padding:10px ; width:30px; height:30px; border-radius:50%; margin:0px auto; line-height:10px;}
.sidebar .round-shape:hover{background:#666666;}
.line-space{margin:20px;}
p{color:#FFFFFF;}

.fb-bgcolor{background:#013660; clear:both; padding:1% 0%; }
.nav{background:#94A3BC; border-radius:25px;}
.nav li {display:inline-block;}

.nav li a{
display: block;
font-size:10px; color:#FFFFFF; padding:5px 5px 5px 128px; text-align:center;}
.home:before{  position:absolute; left:0x; top:14px;  }
.home{  position:relaive;
   }
.identity{ position:relative;}
.identity:before{ content:url('/assets/list2.png'); position:absolute;top:0px; left:30px;}

.hoaten{position:relative;
}
.hoaten:before{ content:url('/assets/list3.png'); position:absolute;top:-15px; left:30px;}

.wallet{position:relative;}

.wallet:before{content:url('/assets/list4.png'); position:absolute;top:-15px; left:30px;}
.white-bg{background:#FFFFFF;}
.margin0{margin-bottom:0px;}
.heading{font-weight:bold; color:#000000;}
.fa-envelope-o.bgicon{ background:#013660; width:40px; height:40px; border-radius:50%; color: rgba(168, 143, 81, 1); line-height:40px;}
.fa-envelope-o:hover{background:#EDC259; color:#FFFFFF;}
.two-line-space{ margin:20px 0 50px 0;}
.tutorials li{background:#E2E5EA; margin-bottom:10px; padding-left:20px; border-radius:20px;}
.tutorials li:hover{background:#013660;}

.tutorials li a{padding:10px 5px; display:block; color:#000000; font-size:12px; }

.tutorials li a:hover{text-decoration:none; color:#FFFFFF;}
.sub-heading{font-size:14px; font-weight:bold;}

.black{color:#000000; font-size:11px; text-transform:none;}
.fa-login{background:url(/assets/login.png) center center no-repeat;  background-color:#013660; padding:20px;  border-radius:50%;  }

.fa-login:hover{ background:#EDC259 url(/assets/login-hover.png) center center no-repeat;}

.small-font{color:#FFFFFF;}

.frequent-btn{background:url(/assets/frequently_button.png) no-repeat;}
body .padding0{padding-left:0; padding-right:0;}
.myaccount{line-height:30px; margin-left:5px}
