%ul.nav.navbar-nav.side-nav
  %li.sbhead
    %i.fa.fa-dashboard
    Control Panel
  %li{ class: active_class(control_profile_path) }
    %a{href: control_profile_path}
      Account Profile, Verification & 2FA
  %li{ class: active_class(control_change_password_path) }
    %a{:href => control_change_password_path}
      Login Password
  %li{ class: active_class(control_wallet_path) }
    %a{:href => control_wallet_path }
      Verification System Credentials
  %li{ class: active_class(control_download_wallet_path)}
    %a{href: control_download_wallet_path }
      Download wallet

   
