%footer#footer
  .container.text-center
    %p

    .col-md-4
      Designed &amp; Developed By: <a href="http://www.malahinisolutions.com" title="Malahini Solutions" target="_blank">Malahini Solutions</a>
    .col-md-6.footermenu.none

    .col-md-2.none
