%footer.fb-bgcolor
  .container
    .pull-left
      .footermenu

    .pull-right
      Designed &amp; Developed By: <a href="http://www.malahinisolutions.com" title="Malahini Solutions" target="_blank">Malahini Solutions</a>
    %div{:style => "clear:both"}
