%h1.none Tutorials
%ul.tutorials.text-left.text-capitalize.none
  %li
    %a{:href => "/tutorial#t1"} 1.&nbsp;&nbsp;  Identity Verification
  %li
    %a{:href => "/tutorial#t2"} 2.&nbsp;&nbsp;  Aten wallet credentials
  %li
    %a{:href => "/tutorial#t3"} 3.&nbsp;&nbsp;  Downloading your wallet
  %h2 After Your Wallet has Downloaded
  %li
    %a{:href => "/tutorial#t4"} 4.&nbsp;&nbsp;  Inserting your aten credentail on your aten wallet
  %li
    %a{:href => "/tutorial#t5"} 5.&nbsp;&nbsp;  Set up your wallet address
  %li
    %a{:href => "/tutorial#t6"} 6.&nbsp;&nbsp;  How to create a passphase
  %li
    %a{:href => "/tutorial#t7"} 7.&nbsp;&nbsp;  Sending a transaction
  %li
    %a{:href => "/tutorial#t8"} 8.&nbsp;&nbsp;  Mining for aten coins
